<template>
  <div class="hello">
    <h1 v-text="msg" class="noselect" />
    <div v-for="(quadro, index) in quadrosArray" :key="quadro" :data-index="index" :data-value="quadro" :id="'elm'+quadro" class="quadro droppable noselect" v-drag>
        <div class="label" v-text="quadro" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Quadros',
  props: {
    msg: String,
    count: Number
  },
  data: () => ({
    quadrosArray: [],
    IDsArray: [],
    starsIDs: 25,
    endIDs: 129
  }),
  directives: {
    drag: {
      bind: (element) => {
          let currentDroppable = null
          let currentID = element.dataset.value

          element.onmousedown = function(){
            let shiftX = event.clientX - element.getBoundingClientRect().left;
            let shiftY = event.clientY - element.getBoundingClientRect().top;

            element.style.position = 'absolute';
            element.style.zIndex = 1000;
            document.body.append(element);

            moveAt(event.pageX, event.pageY);

            function moveAt(pageX, pageY, free) {
                element.style.left = pageX - (free ? 0 : shiftX) + 'px';
                element.style.top  = pageY - (free ? 0 : shiftY) + 'px';
            }

            function onMouseMove(event) {
                moveAt(event.pageX, event.pageY);

                element.hidden = true;
                let elemBelow = document.elementFromPoint(event.clientX, event.clientY);
                element.hidden = false;

                if (!elemBelow) return;

                let droppableBelow = elemBelow.closest('.droppable');
                
                if (currentDroppable != droppableBelow) {
                    if (currentDroppable) { 
                        leaveDroppable(currentDroppable);
                        element.classList.remove('small')
                    }
                    currentDroppable = droppableBelow;
                    if (currentDroppable) {
                        document.removeEventListener('mousemove', onMouseMove);
                        element.onmouseup = null;
                        enterDroppable(currentDroppable);
                        var rect = elemBelow.getBoundingClientRect();

                        moveAt(rect.left + 5, rect.top + 5, true)
                        element.classList.add('small')
                    }
                }
            }

            function enterDroppable(elem) {
                let color = currentID < elem.dataset.value ? 'green' : 'red'
                elem.style.background = color;
            }

            function leaveDroppable(elem) {
                elem.style.background = '';
            }

            document.addEventListener('mousemove', onMouseMove);

            element.onmouseup = function() {
                document.removeEventListener('mousemove', onMouseMove);
                element.onmouseup = null;
            };

            element.ondragstart = function() {
                return false;
            };
          }
      }
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
        const self = this
        self.IDsArray = Array.from(Array(self.endIDs + 1).keys()).splice(self.starsIDs, self.endIDs + 1);
        for(let i = 0; i < self.count; i++) {
           let num = Math.floor(Math.random() * self.IDsArray.length);
           self.quadrosArray.push(self.IDsArray[num])
           self.IDsArray.splice(num, 1);
        }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this self only -->
<style scoped>
    .quadro {
        position: absolute;
        width: 150px;
        height: 75px;
        border: 2px solid coral;
        position: relative;
        margin: 0 auto 10px;
        
    }
    .quadro .label {
        position: absolute;
        bottom: 5px;
        right: 5px;
        font: 12px arial, sans-serif;
    }
    .small {
        width: 80px;
        height: 30px;
    }
    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
    }
</style>
